@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

$colors: (
  background: #db3e0e,
  innerBackground: whitesmoke,
  primaryColor: whitesmoke,
  accentOne: #190133,
  accentTwo: #06c1eb,
  thermometer:#ff2200,
  cloudSunRain: #d49b00,
  city: #67cc34
);

@function colors($color-name) {
  @return map-get($colors, $color-name)
}

$font: 'Amatic SC', cursive;

body {
  font-family: $font;
  font-weight: bold;
  font-size: 100%;
  color: colors(primaryColor);
  background-color: colors(background);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.viewContent{
  position: relative;
  
  input[type=text] {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.currentWeather {
  background-color: colors(innerBackground);
  position: relative;
  color: colors(accentOne);
  border-radius: 5px;
  width: 650px;

  h3 {
    font-size: 40px;
    text-decoration: underline;
  }

  .mainTemp {
    font-size: 32px;
  }
  .conditions {
    font-size: 25px;
  }

    #thermometer {
      color: colors(thermometer);
    }
    #cloudSunRain {
      color: colors(cloudSunRain);
    }
    #city {
      color: colors(city);
    }
    #fire {
      color: colors(thermometer)
    }
    #snowFlake {
      color: colors(accentTwo)
    }
    #rainDrop {
      color: colors(accentTwo)
    }
    #wind {
      color: colors(accentTwo)
    }
}

.fiveDayForeCast {
  @extend .currentWeather;
  font-size: 20px;
  margin-bottom: 20px;
  
  .card-body {
    //margin: 0;
    padding: 0;
  }

  h5{
    text-decoration: underline;
    font-weight: bold;
  }    
    
  #calender {
    color: colors(city);
  }
  hr {
    border: none;
    height: 2px;
    color: colors(accentOne);
    background-color: colors(accentOne);
  }
}

  @media screen and (min-width: 1024px) {
    .viewContent {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 650px) {
    .currentWeather, .fiveDayForeCast {
      max-width: 100%;
      transform: scale(0.9)
    }
    .fiveDayForeCast {
      font-size: 105%;
      margin-top: 10%;

      .card-body {
        //margin: 0;
        padding: 0;
      }
    }
  }



